<section class="quien-soy">
    <h1>Quien soy</h1>
    <mat-card class="autor-card">
        <mat-card-header>
            <mat-card-title>Gabriel Alejandro Sanjurjo</mat-card-title>
            <mat-card-subtitle>Estudiante en la UTN</mat-card-subtitle>
            
        </mat-card-header>
        <img mat-card-image src="./assets/autor.jpg" alt="Foto de Autor">
        <mat-card-content>
            <p>
                Trabajo practico: Sala de Juegos<br>
                Materia: Laboratorio 4<br>
                Año: 2021<br>
                Cuatrimestre: 1<br>
            </p>
        </mat-card-content>
        
    </mat-card>
</section>