<!-- ng g m ppt -- route ppt --module app.module -->
<h1>Piedra Papel Tijera</h1>
<div [ngClass]="'juego'">
    <div [ngClass]="'visor'">
        <img [ngClass]="{'ani': true}" src="./../../assets/piedra-izq.jpg" >
        <img src="./../../assets/piedra-der.jpg" >
    </div>
    
    <div class="botonera">
        <img (click)="select('piedra')" src="./../../assets/piedra-btn.png" >
        <img (click)="select('papel')" src="./../../assets/papel-btn.png" >
        <img (click)="select('tijera')" src="./../../assets/tijera-btn.png">
    </div>
</div>

